/* Container styles */
.container {
  width: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(252, 251, 251);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.955);

  align-items: center;
  text-align: center;

}

.warning {
  color: red;
  font-size: 0.8rem; /* Adjust font size as needed */
  margin-top: 1px; /* Add some space between input and warning */
}


input[type="number"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Make corners round */
  box-sizing: border-box;
}




/* Button styles */
/* Button styles */
button {
  padding: 8px 16px; /* Adjust padding for smaller size */
  background-color: #009879; 
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

/* Add hover effect */
button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
  transform: scale(1.05); /* Scale button slightly on hover */
}


/* https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
/* Selection (dropdown) styles */
select {
  padding: 10px;
  border: thin solid #ccc; /* Gray border */
  border-radius: 5px;
  appearance: none; /* Remove default appearance */
  background-color: #fff; /* White background */
  cursor: pointer;
}

/* Additional styles to indicate focus */
select:focus {
  outline: none; /* Remove default focus outline */
  border-color: #00ff15; /* Blue border when focused */
}


.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table {
    overflow-x: auto; /* Enable horizontal scroll on small screens */
}





/* Reset CSS */
html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Basic styling for headers */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}


p {
  font-family: Arial, sans-serif;
  font-size: 9px;
  line-height: 1; /* Adjust line height for readability */
  color: #4f4d4d; /* Adjust text color */
  margin-bottom: 10px; /* Add some spacing between paragraphs */
}


ul {
  text-align: left; /* Set text alignment to left */
}
